<mat-toolbar color="primary" class="app-toolbar">
  <span (click)="goHome()" class="app-title">YouTube Clone</span>
  <span class="spacer"></span>
  <div class="search-container">
    <mat-form-field class="search-bar" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchQuery" [matAutocomplete]="auto" (input)="onSearch()" />

    </mat-form-field>
    <button mat-icon-button matSuffix aria-label="Search" (click)="performSearch($event)">
      <mat-icon>search</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let result of filteredTags" (click)="addSelectedTag(result)">
        {{ result.tagName }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div (click)="addVideo()" style="cursor: pointer; z-index: 100;">
    <i class="fa-solid fa-plus" style="margin-right: 0.5em;"></i>
    <span>Add video</span>
  </div>
</mat-toolbar>

<!-- Single Video Page -->
<div class="video-page">
  <div *ngIf="!show404">
    <div style="width: 100%; display: flex; align-items: center; justify-content: center; margin-bottom: 1em;">
      <span *ngIf="selectedTags.length > 0" style="font-size: large;margin-right: 1em;">Selected tags: </span>
      <mat-chip-set class="chip-set">
        <mat-chip-row *ngFor="let chip of selectedTags" (removed)="removeVideoFromSelected(chip)">
          {{ chip.tagName }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
      </mat-chip-set>
    </div>
    <div
      style="height: fit-content; width: fit-content; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <span style="font-size: large; margin-top: 2em; margin-bottom: 1em;">{{title}}</span>
      <div class="video-container">
        <div class="video-thumbnail-container">
          <img mat-card-image [src]="thumbnail" alt="Video thumbnail" class="video-thumbnail" />
          <button mat-icon-button class="play-button" (click)="playVideo()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </div>
      <span style="margin-top: 1em; margin-bottom: 0.5em;">Video tags</span>
      <div class="tags">
        <div class="tag" *ngFor="let tag of videoTags">
          <span>{{tag}}</span>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="show404">
    <h1>404 Video not found</h1>
  </div>
</div>