<div *ngIf="smallScreen" style="width: 100vw; display: flex; align-items: center; justify-content: center; margin-top: 2em; margin-bottom: 2em;">
  <span (click)="reloadPage()" class="app-title">Ffhub</span>
</div>
<app-video-ad-1></app-video-ad-1>
<mat-toolbar color="primary" class="app-toolbar">
  <span *ngIf="!smallScreen" (click)="reloadPage()" class="app-title">Ffhub</span>
  <span class="spacer"></span>
  <div class="search-container">
    <mat-form-field class="search-bar" appearance="fill">
      <mat-label>Search</mat-label>
      <input 
        matInput 
        [(ngModel)]="searchQuery" 
        [matAutocomplete]="auto" 
        (input)="onSearch()" 
         />
      
    </mat-form-field>
    <button 
    mat-icon-button 
    matSuffix 
    aria-label="Search" 
    (click)="performSearch()">
    <mat-icon>search</mat-icon>
  </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let result of filteredTags" (click)="addSelectedTag(result)">
        {{ result.tagName }}
      </mat-option>
    </mat-autocomplete>
  </div>
  <div *ngIf="!smallScreen" (click)="addVideo()" style="cursor: pointer; z-index: 100;">
    <i class="fa-solid fa-plus" style="margin-right: 0.5em;"></i>
    <span>Add video</span>
  </div>
</mat-toolbar>
<div *ngIf="smallScreen" style="width: 100vw; display: flex; align-items: center; justify-content: center;  margin-top: 1em; margin-bottom: 1em;">
  <div (click)="addVideo()" style="cursor: pointer; z-index: 100;">
    <i class="fa-solid fa-plus" style="margin-right: 0.5em;"></i>
    <span>Add video</span>
  </div>
</div>
<!-- Single Video Page -->
<div class="video-page">
  <div *ngIf="!show404">
    <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 1em;">
      <span *ngIf="selectedTags.length > 0" style="font-size: large;margin-right: 1em;">Selected tags: </span>
      <mat-chip-set class="chip-set">
        <mat-chip-row *ngFor="let chip of selectedTags" (removed)="removeVideoFromSelected(chip)">
          {{ chip.tagName }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
      </mat-chip-set>
    </div>
    <div
      style="height: fit-content; width: fit-content; display: flex; flex-direction: column; align-items: center; justify-content: center;">
      <span style="font-size: large; margin-top: 2em; margin-bottom: 1em;">{{title}}</span>
      <div class="video-container">
        <div class="video-thumbnail-container">
          <img mat-card-image [src]="thumbnail" alt="Video thumbnail" class="video-thumbnail" />
          <button mat-icon-button class="play-button" (click)="playVideo()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </div>
      </div>
      <span style="margin-top: 1em; margin-bottom: 0.5em;">Video tags</span>
      <div class="tags" style="margin-bottom: 2em;">
        <div class="tag" *ngFor="let tag of videoTags">
          <span>{{tag}}</span>
        </div>
      </div>
    </div>
    <div class="input-container" [ngStyle]="{'width': smallScreen ? '90vw' : '40vw'}">
      <mat-form-field appearance="outline" class="input-field" style="width: 85%; margin-right: 1em;">
        <mat-label>Comment</mat-label>
        <input matInput [(ngModel)]="commentText" />
      </mat-form-field>
      <button mat-raised-button (click)="postComment()" color="primary" class="input-button">Submit</button>
    </div>
    <div [ngStyle]="{'width': smallScreen ? '90vw' : '40vw'}">
      <h3 mat-subheader>Comments</h3>
      <div *ngFor="let comment of comments"
        style="border: grey solid 1px; margin-bottom: 1em; padding: 1em;word-wrap: break-word;">
        <!-- <mat-icon matListIcon>comment</mat-icon> -->
        <div mat-line tyle="white-space: normal; word-wrap: break-word;">{{ comment.commentText }}</div>
      </div>
    </div>
  </div>
  <app-video-ad-2></app-video-ad-2>
  <div *ngIf="show404">
    <h1>404 Video not found</h1>
  </div>
  <app-exoclick-banner2></app-exoclick-banner2>
  <app-exoclick-sticky-banner></app-exoclick-sticky-banner>
  <app-exoclick-mobile-fullscreen></app-exoclick-mobile-fullscreen>
</div>